fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]
bcrypt==3.2.2
pdfminer.six
python-multipart
httpx
braintrust
python-dotenv
pytest
pymupdf
minio
redis
workos==6.0.4
